<h2>Update the drone</h2>

<form action="/drones/{{id}}/edit" method="POST" style="display: flex; flex-direction:column; justify-content:center">
    <label for="name">Drone name:</label>
    <input id="name" name="name" type="text" placeholder="{{name}}"></input>

    <label for="propellers">Number of propellers:</label>
    <input id="propellers" name="propellers" type="text" placeholder="{{propellers}}"></input>
    
    <label for="speed">Maximum speed:</label>
    <input id="speed" name="speed" type="text" placeholder="{{maxSpeed}}"></input>
    <button type="submit">Update Drone</button>
</form>